.listappand {
    background-color: #F2F2F2;
    border: 1px solid #DDD;
    padding: 10px;
    margin-top: 20px;
  }
  
  .listappand > div {
    margin-bottom: 10px;
  }
  
  .listappand input[type="text"], .listappand button {
    margin-right: 10px;
  }
  
  .listappand button {
    background-color: #007bff;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }