.appand {
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

  background-color: rgb(185, 238, 255);

  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.appand input[type="text"] {
  width: 300px;
  height: 25px;

  margin-right: 10px;
  padding: 10px;

  border: none;
  border-radius: 14px;
  box-shadow: none;

  font-size: 16px;
}

.appand button {
  padding: 10px;

  border: none;
  border-radius: 13px;

  box-shadow: none;

  background-color: rgb(255, 195, 255);
  color: cornflowerblue;

  font-size: 16px;
  cursor: pointer;
}

.appand button:hover {
  border: 2px solid white;
}